{{template "base" .}}

{{define "content"}}


    <div class="container">

      <div class="row">
        <div class="col" >
          <img src="/static/images/nyroom.jpg" alt="Ken's Room" class="img-fluid img-thumbnail mx-auto d-block room-image">
        </div>
      </div>
      
<div class="row">
    <div class="col">
        <h1 class="text-center mt-4">Major Ken Roy Suite</p>
    </div>
</div>
    <div class="row">
      <div class="col text-center">
        <a href="/make-reservation-mj" class="btn btn-primary">Check availability</a>
      </div>                      
    </div>

{{end}}